# ===== OS =====
.DS_Store

# ===== Editors =====
.vscode/

# ===== Java build outputs =====
target/
build/
.gradle/

# ===== IDEs =====
.idea/
*.iml
*.iws
*.ipr
out/
.project
.classpath
.settings/

# ===== Logs / temp =====
*.log
*.tmp
*.swp

# ===== Env / secrets =====
.env
.env.*
application-local.properties
application-local.yml
application-dev.properties
application-dev.yml